<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.slipper.modules.roomGroup.mapper.RoomGroupMapper">

    <select id="queryByConversationId" resultType="com.slipper.modules.roomGroup.entity.RoomGroupEntity">
        SELECT rg.*
        FROM room_group AS rg
        LEFT JOIN room AS r ON r.id = rg.room_id
        LEFT JOIN conversation AS c ON c.room_id = r.id
        WHERE c.id = #{ conversationId } AND c.deleted = 0 AND r.deleted = 0 AND rg.deleted = 0
    </select>

</mapper>