<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.slipper.modules.grouping.mapper.GroupingMapper">

    <resultMap id="GroupingFriendMap" type="com.slipper.modules.grouping.model.res.GroupingFriendResVO">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="fixed" column="fixed"/>
        <collection property="friends" ofType="com.slipper.modules.friend.model.dto.FriendDTO">
            <id property="id" column="friend_id"/>
            <result property="remark" column="remark"/>
            <result property="userId" column="user_id"/>
            <result property="nickname" column="nickname"/>
            <result property="avatar" column="avatar"/>
            <result property="sex" column="sex"/>
            <result property="online" column="online"/>
        </collection>
    </resultMap>
<!--    List<GroupingFriendResVO> queryList(@Param("userId") Long userId);-->
    <select id="queryList" resultMap="GroupingFriendMap">
        SELECT g.id, g.name, g.fixed,
               f.id AS friend_id, f.remark, f.friend_id AS user_id,
               u.nickname, u.avatar, u.sex, u.online
        FROM `grouping` AS g
        LEFT JOIN friend AS f ON f.grouping_id = g.id
        LEFT JOIN user AS u ON u.id = f.friend_id
        WHERE g.deleted = 0 AND g.user_id = #{ userId }
        ORDER BY g.fixed DESC, u.nickname ASC, f.created_at DESC
    </select>
</mapper>