<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.slipper.modules.roomFriend.mapper.RoomFriendMapper">

    <select id="queryByConversationId" resultType="com.slipper.modules.roomFriend.entity.RoomFriendEntity">
        SELECT rf.*
        FROM room_friend AS rf
        LEFT JOIN room AS r ON r.id = rf.room_id
        LEFT JOIN conversation AS c ON rf.room_id = r.id
        WHERE c.id = #{ conversationId } AND c.deleted = 0 AND r.deleted = 0 AND rf.deleted = 0
    </select>

</mapper>